<div class = "container">

  <div class = "row">
    <div class = "col-md-4">
      <div style="height:100px;">LOGO PLACEHOLDER</div>
    </div>
    <div class = "col-md-4">

    </div>
    <div class = "col-md-4">
      <div style="float:right; margin-right:45px;">BUTTONS PLACEHOLDER</div>
    </div>
  </div>

<div id = "main">
<!--this is where the title goes-->
  <div class = "row">
    <div class = "col-md-4">
     </div>
       <div class = "col-md-4">
        <legend>Create a new account</legend>
       </div>
     <div class = "col-md-4">
    </div>
  </div>

 <div class = "row">
    <div class = "col-md-4">
    </div>

   <!--this is where the form goes in!-->

    <div class = "col-md-4">

      <form class="form-horizontal">
      <fieldset>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="firstName">First Name</label>
        <div class="controls">
          <input id="firstName" name="firstName" type="text" placeholder="" class="input-xlarge">

        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="lastName">Last Name</label>
        <div class="controls">
          <input id="lastName" name="lastName" type="text" placeholder="" class="input-xlarge">

        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="email">Email Address</label>
        <div class="controls">
          <input id="email" name="email" type="text" placeholder="" class="input-xlarge">

        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="userName">Username</label>
        <div class="controls">
          <input id="userName" name="userName" type="text" placeholder="" class="input-xlarge">

        </div>
      </div>

      <!-- Password input-->
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input id="password" name="password" type="password" placeholder="" class="input-xlarge">

        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="button"></label>
        <div class="controls">
          <button id="button" name="button" class="btn btn-primary">Submit</button>
        </div>
      </div>

      </fieldset>
      </form>



    </div>
    <div class = "col-md-4">
    </div>
</div>
</div>

